# Analyse data with Python Pandas

Welcome to this Jupyter Notebook! 
  
Today you'll learn how to import a CSV file into a Jupyter Notebook, and how to clean up messy data. This notebook is part of the course Python for Journalists at [Learno.net](learno.net). The data used originally comes from [the Electoral Commission website](http://search.electoralcommission.org.uk/Search?currentPage=1&rows=10&sort=AcceptedDate&order=desc&tab=1&open=filter&et=pp&isIrishSourceYes=false&isIrishSourceNo=false&date=Reported&from=&to=&quarters=2018Q12&rptPd=3617&prePoll=false&postPoll=false&donorStatus=individual&donorStatus=tradeunion&donorStatus=company&donorStatus=unincorporatedassociation&donorStatus=publicfund&donorStatus=other&donorStatus=registeredpoliticalparty&donorStatus=friendlysociety&donorStatus=trust&donorStatus=limitedliabilitypartnership&donorStatus=impermissibledonor&donorStatus=na&donorStatus=unidentifiabledonor&donorStatus=buildingsociety&register=ni&register=gb&optCols=Register&optCols=IsIrishSource&optCols=ReportingPeriodName), but is edited for training purposes. The edited dataset is available on the Learno website. 

## About Jupyter Notebooks and Pandas

Right now you're looking at a Jupyter Notebook: an interactive, browser based programming environment. You can use these notebooks to program in R, Julia or Python - as you'll be doing later on. Read more about Jupyter Notebook in the [Jupyter Notebook Quick Start Guide](https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/what_is_jupyter.html). 
  
To clean up our data, we'll be using Python and Pandas. Pandas is an open-source Python library - basically an extra toolkit to go with Python - that is designed for data analysis. Pandas is flexible, easy to use and has lots of useful functions built right in. Read more about Pandas and its features in [the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/).

**Notebook shortcuts**  

Within Jupyter Notebooks, there are some shortcuts you can use. If you'll be using more notebooks for your data analysis in the future, you'll remember these shortcuts soon enough. :) 

* `esc` will take you into command mode
* `a` will insert cell above
* `b` will insert cell below
* `shift then tab` will show you the documentation for your code
* `shift and enter` will run your cell
* ` d d` will delete a cell

**Pandas dictionary**

* **dataframe**: dataframe is Pandas speak for a table with a labeled y-axis, also known as an index. (The index usually starts at 0.)
* **series**: a series is a list, a series can be made of a single column within a dataframe.

Before we dive in, a little more about Jupyter Notebooks. Every notebooks is made out of cells. A cell can either contain Markdown text - like this one - or code. In the latter you can execute your code. To see what that means, type the following command in the next cell `print("hello world")`.

In [1]:
print('Welcome!')

Welcome!

## Getting started

In the module 'Clean data' from this course, we cleaned up a dataset with donations to political parties in the UK. Now, we're going to analyse the data in that dataset. Let's start by importing the Pandas library, using `import pandas as pd`.

In [2]:
import pandas as pd

Now, import the cleaned dataset, use `df = pd.read_csv('/path/to/file_with_clean_data.csv')`.

## Importing data

In [3]:
df = pd.read_csv('results_clean.csv')

Let's see if the data is anything like you'd expect, use `df.head()`, `df.tail()` or `df.sample()`.

In [4]:
df.head()

,Unnamed: 0,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
0,0,Plaid Cymru - The Party of Wales,2018-12-19,Mr Alun Ffred Jones,Individual,2018,12,20000.0,Political Party,83318,NaN
1,1,Liberal Democrats,2017-12-31,Ms Kirsten Bayes,Individual,2017,12,1800.0,Political Party,43033,NaN
2,2,Liberal Democrats,2017-12-31,Mr Steve Webb,Individual,2017,12,3000.0,Political Party,35400,NaN
3,3,Liberal Democrats,2017-12-31,Mr Tim Farron,Individual,2017,12,1560.0,Political Party,76661,NaN
4,4,Liberal Democrats,2017-12-31,Mr Duncan Greenland,Individual,2017,12,7750.0,Political Party,35403,NaN

Whoops! When we saved the data after cleaning it, the index was saved in an unnamed column. With importing, Pandas added a new index... Let's get rid of the 'Unnamed: 0' column. Drop it like it's hot... `df = df.drop('Unnamed: 0', 1)`.

In [6]:
df = df.drop('Unnamed: 0', 1)

Let's see if this worked, use `df.head()`, `df.tail()` or `df.sample()`.

In [7]:
df.sample(9)

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
233,Conservative and Unionist Party,2017-10-25,Mr Ravi S Kailas,Individual,2017,10,2000.00,Political Party,74743,NaN
191,Labour Party,2017-11-21,Lord Charles Falconer of Thoroton,Individual,2017,11,833.00,Political Party,83993,NaN
14,Liberal Democrats,2017-12-31,Mr Dave Hodgson,Individual,2017,12,2250.00,Political Party,34493,NaN
61,Liberal Democrats,2017-12-31,Ms Helen Clucas,Individual,2017,12,1908.00,Political Party,83348,NaN
44,Liberal Democrats,2017-12-31,Cllr Joe Harris,Individual,2017,12,1557.25,Political Party,75240,NaN
72,Liberal Democrats,2017-12-31,Mr John Hale,Individual,2017,12,1600.00,Political Party,76632,NaN
284,Conservative and Unionist Party,2017-04-29,Mr Daniel D Laycock,Individual,2017,4,2500.00,Political Party,83824,NaN
46,Liberal Democrats,2017-12-31,Mr Dennis Meredith,Individual,2017,12,2003.41,Political Party,83355,NaN
95,Liberal Democrats,2017-12-31,Ms Philippa Connor,Individual,2017,12,2061.96,Political Party,54385,NaN

Now, if this looks better, let's get started and analyse some data.

# Analyse data

## Statistical summary

In the module Clean data, you already saw the power of `df.describe()`. This function gives a basic statistical summary of every column in the dataset. It will give you even more information when you tell the function that you want everything included, like this: `df.describe(include='all')`

In [11]:
df.describe(include='all')

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
count,300,300,300,300,300.000000,300.000000,300.000000,300,300.000000,0.0
unique,11,91,247,1,NaN,NaN,NaN,1,NaN,NaN
top,Liberal Democrats,2017-12-31,Ms Jane Mactaggart,Individual,NaN,NaN,NaN,Political Party,NaN,NaN
freq,124,101,9,300,NaN,NaN,NaN,300,NaN,NaN
mean,NaN,NaN,NaN,NaN,2017.003333,10.623333,10488.400400,NaN,65556.336667,NaN
std,NaN,NaN,NaN,NaN,0.057735,2.544873,32153.305738,NaN,19466.692599,NaN
min,NaN,NaN,NaN,NaN,2017.000000,1.000000,600.000000,NaN,19152.000000,NaN
25%,NaN,NaN,NaN,NaN,2017.000000,10.000000,1800.000000,NaN,47058.000000,NaN
50%,NaN,NaN,NaN,NaN,2017.000000,12.000000,2500.000000,NaN,76334.000000,NaN
75%,NaN,NaN,NaN,NaN,2017.000000,12.000000,8124.000000,NaN,83335.500000,NaN
max,NaN,NaN,NaN,NaN,2018.000000,12.000000,400000.000000,NaN,84031.000000,NaN

For columns with numeric values, `df.describe()` will give back the most information, here's a full list of the parameters and their meaning: 

**df.describe() parameters**
* **count**: number of values in that column
* **unique**: number of unique values in that column
* **top**: first value in that column
* **freq**: the most common valueâ€™s frequency
* **mean**: average
* **std**: standard deviation
* **min**: minimum value, lowest value in the column
* **25%**: first percentile
* **50%**: second percentile, this is the same as the median
* **75%**: thirth percentile
* **max**: maximum value, highest value in the column

If a column does not contain numeric value, only those parameters that are applicable are returned. Python gives you NaN-values when that's the case - NaN is short for Not a Number. 

Notice that 'count' is 300 for every column. This means that every column has a value for every row in the dataset. How do I know? I looked at the total number of rows, using `df.shape`.

In [10]:
df.shape

(300, 10)

## Filter

Let's try to filter the dataframe based on the value in the Value column. You can do this using `df[df['Value'] > 10000 ]`. This will give you a dataframe with only donations from 10.000 pound or more.

In [12]:
df.sample()

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
170,Scottish Green Party,2017-12-01,Mr Mark Christopher Ruskell,Individual,2017,12,7805.16,Political Party,83321,NaN

In [19]:
df[df['Value'] < 601]

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
151,Green Party,2017-12-07,Ms Jean Lambert MEP,Individual,2017,12,600.0,Political Party,34382,NaN
216,Green Party,2017-11-05,Ms Jean Lambert MEP,Individual,2017,11,600.0,Political Party,34382,NaN
237,Green Party,2017-10-22,Ms Jean Lambert MEP,Individual,2017,10,600.0,Political Party,34382,NaN
241,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.0,Political Party,76334,NaN
242,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.0,Political Party,76334,NaN

In [20]:
df.shape

(300, 10)

## Sort
Let's try to sort the data. Using the command `df.sort_values(by='column_name')` will sort the dataframe based on the column of your choosing. Sorting by default happens ascending, from small to big. 

In case you want to see the sorting from big to small, descending, you'll have to type: `df.sort_values(by='column_name', ascending=False)`.

Now, let's try to sort the dataframe based on the number in the Value column it's easy to find out who made the biggest donation. 

The above commands will sort the dataframe by a column, but - since we never asked our notebook to - won't show the data. To sort the data and show us the new order of the top 10, we'll have to combine the command with `.head(10)` like this: `df.sort_values(by='column_name').head(10)`.

Now, what would you type if you want to see the 10 smallest donations?

In [23]:
df.sort_values(by='Value', ascending=False).head(10)

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
229,Conservative and Unionist Party,2017-10-30,Mr Byron S Huson,Individual,2017,10,400000.00,Political Party,83882,NaN
137,Conservative and Unionist Party,2017-12-14,Mr Michael Davis,Individual,2017,12,271000.00,Political Party,34240,NaN
257,Scottish National Party (SNP),2017-10-06,Mr Ian McNish,Individual,2017,10,175000.00,Political Party,78128,NaN
128,Conservative and Unionist Party,2017-12-14,Lord Stanley Fink,Individual,2017,12,111600.00,Political Party,47072,NaN
248,Conservative and Unionist Party,2017-10-11,Ms Lesley Jackson,Individual,2017,10,100000.00,Political Party,38745,NaN
238,Conservative and Unionist Party,2017-10-19,Mr Ian R Taylor,Individual,2017,10,100000.00,Political Party,76312,NaN
200,Plaid Cymru - The Party of Wales,2017-11-17,Ms Jane Mactaggart,Individual,2017,11,61473.89,Political Party,83317,NaN
202,Conservative and Unionist Party,2017-11-16,Mrs Mary Erbrich,Individual,2017,11,60000.00,Political Party,76714,NaN
254,Conservative and Unionist Party,2017-10-09,Mr Michael A Dangoor,Individual,2017,10,56600.00,Political Party,83834,NaN
219,Conservative and Unionist Party,2017-11-01,Mr Oluwole Kolade,Individual,2017,11,52500.00,Political Party,38762,NaN

If you want to see the biggest donations made, use `df.sort_values(by='Value', ascending=False).head(10)`. This will sort the dataframe based on the Value column from big to small.

## Sum

Wow! There are some big donations in our dataset. If you want to know how much money was donated in total, you need to get the sum of the column Value. Use `df['Value'].sum()`.

In [24]:
df['Value'].sum()

3146520.12

## Count

Let's look at the receivers of all this donation money. Use `df['RegulatedEntityName'].count()` to count the number of times a regulated entity received a donation.

In [26]:
df['RegulatedEntityName'].count()

300

Not really what we were looking for, right? Using `.count()` gives you the number of values in a column. Not the number of appearances per unique value in the column. 

You'll need to use `df['RegulatedEntityName'].value_counts()` if you want to know that...

In [27]:
df['RegulatedEntityName'].value_counts()

Liberal Democrats                   124
Conservative and Unionist Party     117
UK Independence Party (UKIP)         20
Labour Party                         18
Scottish Green Party                  6
Green Party                           5
Scottish National Party (SNP)         3
Plaid Cymru - The Party of Wales      3
Renew                                 2
British National Party                1
Women's Equality Party                1
Name: RegulatedEntityName, dtype: int64

Ok. Let's see if you really understand the difference between `.value_counts()` and `.count()` If you want to know how many donors have donated, you should count the values in the DonorName column. Do you use `df['DonorName'].value_counts()` or `df['DonorName'].count()`?

When in doubt, try both. Remember: we're using a Jupyter Notebook here. It's a **Notebook**, so you can't go wrong here. :)

In [28]:
df['DonorName'].count()

300

In [29]:
df['DonorName'].value_counts()

Ms Jane Mactaggart                   9
Mr Duncan Greenland                  8
Lord Charles Falconer of Thoroton    6
Mr Malcolm Bluemel                   5
Mr Mark  Petterson                   4
                                    ..
Mr Michael Slade                     1
Mr Robert D Calrow                   1
Mr John Mason                        1
Mr Palminder Singh                   1
Mr Alexey  Chudnovskiy               1
Name: DonorName, Length: 247, dtype: int64

Interesting: apparently Ms Jane Mactaggart, Mr Duncan Greenland, and Lord Charles Falconer of Thoroton have donated most often. Let's look into that...

## Groupby
If you're familiar with Excel, you probably heard of 'pivot tables'. Python Pandas has a function very similar to those pivot tables. 

Let's start with a small refresher: pivot tables are summaries of a dataset inside a new table. Huh? That's might be a lot to take in. 

Look at our example: data on donations to political parties in the UK. If we want to know how much each unique donor donated, we are looking for a specific summary of our dataset. To get the anwer to this question: 'How much have Ms Jane Mactaggart, Mr Duncan Greenland, and Lord Charles Falconer of Thoroton donated in total?' We need Pandas to sum up all donation for every donor in the dataframe. In a way, this is a summary of the original dataframe by grouping values by in this case the column DonorName. 

Using Python this can be done using the group by function. Let's create a new dataframe called donors, that has all donors and the total sum of their donations in there. Use `donors = df.groupby('DonorName')['Value'].sum()`. This is a combination of several functions: group data by 'DonorName', and sum the data in the 'Value' column...

In [36]:
donors = df.groupby('DonorName')['Value'].sum()
donors.head(10)

DonorName
Baroness Barbara Janke         1600.00
Baroness Emma Nicholson        2499.99
Baroness Kathryn Parminter     2400.00
Baroness Shirley Williams      1700.00
Christopher Williams           1506.37
Clive Hollick                 20000.00
Cllr Ian Shires                1920.00
Cllr Joe Harris                1557.25
Dr Alun  Griffiths             1800.00
Dr Arujuna Sivananthan         2499.00
Name: Value, dtype: float64

To see if it worked, you'll have to add `donors.head(10)`, otherwise your computer won't know that you actually want to see the result of your effort. :)

## Pivot tables

But Python has it's own pivot table as well. You can get a similar result in a better looking table using de `df.pivot_table` function. 

Here's a perfectly fine `.pivot_table` example:
`df.pivot_table(values="Value", index="DonorName", columns="Year", aggfunc='sum').sort_values(2018).head(10)`

Let's go over this code before running it. What will `df.pivot_table(values="Value", index="DonorName", columns="Year", aggfunc='sum').sort_values(2018).head(10)` actually do? 

For the dataframe called df, create a pivot table where: 
- the values in the pivot table should be based on the Value column
- the index of the pivot table should be base don the DonorName column, in other words: create a row for every unique value in the DonorName column
- create a new column for every unique value in the Year column
- aggregate the data that fills up these columns (from the Value column, see?) by summing it for every row. 

Are you ready to try it yourself?

In [43]:
donors2 = df.pivot_table(values='Value', index='DonorName', columns='Year', aggfunc='sum').sort_values(2017, ascending=False)

## Save your data

Now that we've put all this work into cleaning our dataset, let's save a copy. Off course Pandas has a nifty command for that too. Use `dataframe.to_csv('filename.csv', encoding='utf8')`. 

Be ware: use a different name than the filename of the original data file, or it will be overwritten.

In [44]:
donors2.to_csv('donors2.csv', encoding='utf-8')

In case you want to check if a new file was created in your directory, you can use the `pwd` and `ls` commands. At the beginning of this module, we used these commands to print the working directory (`pwd`) and list the content of the working directory (`ls`). 

First, use `pwd` to see in which folder - also known as directory - you are:

In [45]:
pwd

'/Users/shylanott/Desktop/pythonforjournalists/3 analyse data'

Now use `ls` to get a list of all files in this directory. If everything worked your newly saved datafile should be among the files in the list.

In [46]:
ls

3 Analyse data.ipynb*             donors2.csv
Analyse data - Complete v2.ipynb* results_clean.csv*
Analyse data v2.ipynb*